<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="overflow-x: hidden; background-color:rgb(46, 46, 46)">
        <div style="padding-bottom: 15px; padding-top: 15px; border-bottom: none;">
            <img src="https://daw-casaryiad.000webhostapp.com/images/logo.png" 
                 alt="header_logo" 
                 style="display: block; width: 230px; margin-left: auto; margin-right: auto; margin-top: 50px; backdrop-filter: brightness(50%);">
        </div>

        <div style="background-color: #D8D8D8; border: 4px double black; color: black; text-align: center; margin-top: 50px; margin-bottom: 50px; 
                    padding-top: 3rem !important; padding-bottom: 3rem !important; padding-left: 1rem !important;padding-right: 1rem !important; 
                    margin-left: auto; margin-right: auto; border-radius: 10px; width: 75%;">
            
            <h1 style="font-family: 'Trebuchet MS'; padding-top: 2rem !important; padding-bottom: 2rem !important;">
                {TITLE}
            </h1>

            {CONTENT}
            
            <br>

            <a href="https://daw-casaryiad.000webhostapp.com/">daw-casaryiad.000webhostapp.com</a>

        </div>
    </body>
</html>