nav #evenimente
{
   background-color: #D8D8D8 !important;
   color: #000000 !important;
}
section
{
    padding-top: 80px;
    filter: drop-shadow(0px 0px 10px black);
}
section img
{
    height: 100%;
    width: 100%;
}
.card
{
    border: none;
}
.card-title
{
    font-family: "Montez";
    margin-bottom: 5%;
}
#buton_catre_form
{
    margin-top: 80px;
    border: 1px solid white;
}
